<html>
    <%- include("head.ejs") -%> 

    <body data-simplebar style="background-color: rgb(40, 44, 47); height: auto;">
        <div class="bounder">
            <%- include("nav.ejs") -%> 
            <div class="welcomingBox">

                <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center;"> Welcome to the is gay logs</h1>
                <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center;"> Here you can view what others have done. </h2>

            </div>
            <div class="main" style="flex-flow: wrap;">
                <br>
                <ol style="margin-left: 20px; color: rgb(241, 241, 241);" id="list">

                    <% logs.forEach((log) => { %>
                        <li class="title is-5 alt" style="color: rgb(241, 241, 241);" id="t"><span><%= log.at.toLocaleString('en-GB')%> (gmt) - <%= log.entered %> | PDT : </span> <%- log.passed ? '<span style = "color:#00ff00"> Passed </span>' : log.passed == false ? '<span style = "color:#ff0000"> failed </span>' : '<span style="color: rgb(0, 140, 255);">Unknown</span>'  %></li>
                    <%})%>
                </ol>

                <br>
                <br>
            </div>
        </div>
    </body>

</html>

