<html>

    <%- include("head.ejs") -%> 
    <body data-simplebar style="background-color: rgb(40, 44, 47);">


        <!-- 
            Website by  
                Pozm#4351 ~ 690944032355909662
                Pozm#6946 ~ 288062966803333120
        -->


        
        
        <!--     <div class="topBar"></div> -->
        
        <div class="bounder">
            <%- include("nav.ejs") -%> 
            <div class="welcomingBox">

                <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center;">Hello <%= data.username  %></h1>
                <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center;"> Welcome to Synapse support guide <span style="font-size: 12px;">web edition</span>!  </h2>

            </div>


            <div class="main" style="flex-flow: wrap; /* width:auto; */">

                <div class="Left-Box" style="overflow:auto;height: 70vh;">

                    <div class="Left-BoxC" style="margin-left: 0px; width: 400px;padding: 1.5rem;height:inherit">

                        <aside class="menu" style="overflow: auto;">

                            <p class="menu-label">
                                SSG
                            </p>
                            <ul class="menu-list" >
                                <li><a href="#Fixes" class="is-active">Fixes</a>
                                
                                    <ul id='m_FIXES'>
                                        <% for (let fixi of Object.keys(fixes)) { %>
                                            <li><a href="#<%= fixi.replace(' ','_') %>"><%= fixi %> </a></li>
                                        <% } %> 
                                    </ul>
                                
                                </li>
                              </ul>

                        </aside>
                            

                    </div>

                </div>
                

                <div class="Right-Box" ">

                    <h2 id='Fixes' class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center;">Fixes</h2>
                    <hr class="thick">

                    <% for (let fixi of Object.keys(fixes)) { %>

                        <% let fix = fixes[fixi] %> 
                        <div class="box odd-even" style="margin-left: auto;margin-right: auto;margin-bottom: 1.5rem" id = "<%= fixi.replace(' ','_') _%> ">

                            <h1 class="subtitle is-2" style="color: rgb(228, 228, 228)"> <%= fixi %> </h1>
                            <h2 class="subtitle is-5" style="color :rgb(202, 202, 202)">Last update <%= new Date(fix['Last Update']).toString(undefined,{hour12:true}) %> </h1>
                            <hr class="light">
                            <h1 class="subtitle is-3" style="color: rgb(228, 228, 228)">Type</h1>
                            <p><%= fix.TypeOfFix %> </p>
                            <h1 class="subtitle is-3 " style="color: rgb(228, 228, 228)">Caused by</h1>
                            <p><%= fix.CausedBy %> </p>
                            <h1 class="subtitle is-3" style="color: rgb(228, 228, 228)">Instructional fix</h1>
                            <p style="word-break: break-all;"><%- fix.InstructionalFix.replace('\n','<br>') %> </p>
                            <h1 class="subtitle is-3" style="color: rgb(228, 228, 228)">Quick fix</h1>
                            <p style="word-break: break-all;"><%- fix.SupportFriendlyFix.replace('\n','<br>') %> </p>
                        </div>

                    <% } %> 

                </div>

            </div>
            <script>

                function checkVisible(elm) {
                    var rect = elm.getBoundingClientRect();
                    var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
                    return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
                }

                let things = ['Fixes']

                let hrf= window.location.href
                let shrf = hrf.lastIndexOf('#')+1 != 0 ?hrf.slice(hrf.lastIndexOf('#')+1) : things[0]

                $('#Currently-Viewing').text(shrf)

                $('body').scroll(()=>{


                    for (let v of things) {
                        let hrf= window.location.href
                        let shrf = hrf.slice(hrf.lastIndexOf('/'))
                        $('#Currently-Viewing').text(hrf.lastIndexOf('#')+1 != 0 ?hrf.slice(hrf.lastIndexOf('#')+1) : things[0])
                        if (checkVisible($(`#${v}`).get()[0]) && shrf != '/SSG#'+v) window.location.href= '#'+v

                    }

                })

            </script>
        </div>

    </body>

</html>