<html>
    <%- include("head.ejs", {emb:{desc:`${(user)} is gay - ${(reason)}`}}) -%> 

    <body style="background-color: rgb(40, 44, 47); height: auto;">
        <div class="bounder">
            <%- include("nav.ejs") -%> 
            <div class="main" style="align-items: center;background: linear-gradient(171deg, rgba(171, 189, 255, 0.05) 0%, rgb(252, 70, 107) 100%);">
                <div class="welcomingBox" style="background: none;">
    
                    <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center;"><%=user%> is gay</h1>
                    <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center;">Here is a few reasons why</h2>
    
                </div>
                <% if (locals.by == locals.data?.username) { %> 
                    <section class="container is-fullhd">

                        <div class="box" style="text-align: center;">

                            <h5 class="title is-5">Edit</h5>
                            <form method="post" action="/api/EditGay">

                                <input type="text" class="input" id="u" placeholder="New User" name="user">
                                <input type="text" class="input" id='r'placeholder="New Reason" name="reason">
                                <input type="hidden" value="<%= locals.id %>" name="id" id="idd">
                                <input type="button" class="button" value="Submit" id='s'>
                            </form>

                        </div>

                    </section>
                    <script>

                        $('#s').click(()=>{

                            $.ajax({
                                method:'PATCH',
                                url:'/api/EditGay',
                                data:{user:$('#u').val(), reason:$('#r').val(),id:$('#idd').val()},
                                success:()=>window.location.reload(),
                                error:(e)=>console.log(e),

                            })

                        })

                    </script>
                <% } %> 
                <br>
                <ol style="margin-left: 20px; color: rgb(241, 241, 241);" id="list">

                    <li class="title is-5 alt" style="color: rgb(241, 241, 241);" id="t"><%=reason%></li>

                </ol>
                <script>


                    let scrolledDistance;
                    let triggerDistance = $(document).height() - $(window).height() - 50;
                    document.title = decodeURI($('meta[property="og:description"]').attr('content'))

                    for (let i=0;i<100;i++) 
                    {

                        let clonedItem = $("#t").clone();
                        clonedItem.removeAttr('id');
                        clonedItem.appendTo('#list')

                    }

                    $(window).scroll(function() {

                        scrolledDistance = $(window).scrollTop();

                        if ( scrolledDistance > triggerDistance) {
                            let clonedItem = $("#t").clone();
                            clonedItem.removeAttr('id');
                            clonedItem.appendTo('#list')
                            if ($('.title.is-5.alt').length == 2499) $("#t").clone().removeAttr('id').text('Dude, are you alright?').appendTo('#list')
                            else if ($('.title.is-5.alt').length == 4999) $("#t").clone().removeAttr('id').text('Alright, you surely have no life').appendTo('#list')
                            else if ($('.title.is-5.alt').length == 9999) $("#t").clone().removeAttr('id').text('Still? how, surely you\'re not mentally stable.. right? ').appendTo('#list')
                            else if ($('.title.is-5.alt').length == 14999) $("#t").clone().removeAttr('id').text('WTF, dude ur scaring me').appendTo('#list')
                            else if ($('.title.is-5.alt').length == 19999) $("#t").clone().removeAttr('id').text('😔').appendTo('#list')
                            else if ($('.title.is-5.alt').length == 24999) $("#t").clone().removeAttr('id').text('dude ur kinda poggers').appendTo('#list')
                            delete clonedItem

                        }

                    });

                </script>

                <br>
                <br>
            </div>
        </div>
    </body>

</html>

