<html>
    <%- include("head.ejs", {emb:{desc:`${(user)} is gay - ${(reason)}`}}) -%> 

    <body style="background-color: rgb(40, 44, 47); height: auto;">
        <div class="bounder">
            <%- include("nav.ejs") -%> 
            <div class="welcomingBox">

                <h1 class="title is-1" style="color: rgb(228, 228, 228);text-align: center;"><%=user%> is gay</h1>
                <h2 class="subtitle is-3" style="color: rgb(202, 202, 202); text-align: center;">Here is a few reasons why</h2>

            </div>
            <div class="main" style="align-items: center;">
                <% console.log(locals) %> 
                <% if (locals.by == locals.data?.username) { %> 
                    <section class="container is-fullhd">

                        <div class="box" style="text-align: center;">

                            <h5 class="title is-5">Edit</h5>
                            <form method="post" action="/api/EditGay">

                                <input type="text" class="input" id="u" placeholder="New User" name="user">
                                <input type="text" class="input" id='r'placeholder="New Reason" name="reason">
                                <input type="hidden" value="<%= locals.id %>" name="id" id="idd">
                                <input type="button" class="button" value="Submit" id='s'>
                            </form>

                        </div>

                    </section>
                    <script>

                        $('#s').click(()=>{

                            $.ajax({
                                method:'PATCH',
                                url:'/api/EditGay',
                                data:{user:$('#u').val(), reason:$('#r').val(),id:$('#idd').val()},
                                success:()=>window.location.reload(),
                                error:(e)=>console.log(e),

                            })

                        })

                    </script>
                <% } %> 
                <br>
                <ol style="margin-left: 20px; color: rgb(241, 241, 241);" id="list">

                    <li class="title is-5 alt" style="color: rgb(241, 241, 241);" id="t"><%=reason%></li>

                </ol>
                <script>


                    let scrolledDistance;
                    let triggerDistance = $(document).height() - $(window).height() - 50;
                    document.title = decodeURI($('meta[property="og:description"]').attr('content'))

                    for (let i=0;i<40;i++) 
                    {

                        var clonedItem = $("#t").clone();
                            clonedItem.removeAttr('id');
                            clonedItem.appendTo('#list')

                    }

                    $(window).scroll(function() {

                        scrolledDistance = $(window).scrollTop();

                        if ( scrolledDistance > triggerDistance) {
                            var clonedItem = $("#t").clone();
                            clonedItem.removeAttr('id');
                            clonedItem.appendTo('#list')

                        }

                    });

                </script>

                <br>
                <br>
            </div>
        </div>
    </body>

</html>

